*{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    border: black;
}

.hTag{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color:crimson;
    flex: 1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    border: 5px;

}

.mTag{
    flex: 1;
}
